.context-menu {
  display: none;
  background-color: var(--secondary-bg);
  position: fixed;
  z-index: 5;
  color: var(--color-text-primary);
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--color-accent-primary);
  /* font-size: 0.875rem; */
  width: 100%;
  max-width: 250px;
}

.context-menu.active {
  display: flex;
  flex-direction: column;
}

.context-menu button {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 5px 8px;
  cursor: pointer;
  color: var(--color-text-primary);
}

.context-menu button:hover {
  background-color: var(--color-accent-primary);
  color: white;
}

.context-menu hr {
  border: 0;
  border-bottom: 1px solid var(--tertiary-bg);
  background-color: transparent;
  margin: 5px 0;
}

.context-menu .icon {
  opacity: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
