.sidebar {
  background-color: var(--tertiary-bg);
  display: flex;
  position: fixed;
  height: 100%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  z-index: 3;
  overflow: hidden;
  min-width: 45px;
  /* border-right: #aaa 1px solid; */
}

.sidebar .drag-sidebar-button {
  position: absolute;
  right: 0;
  width: 1px;
  background-color: #555;
  border: 0;
  height: 100%;
  z-index: 5;
  cursor: e-resize;
  transition: 0.1s ease background-color;
  cursor: ew-resize;
}

.sidebar .drag-sidebar-button.disabled {
  pointer-events: none;
}

.sidebar .drag-sidebar-button:not(.disabled):hover {
  background-color: var(--color-accent-primary);
}

.sidebar .drag-sidebar-button:not(.disabled):active,
.sidebar .drag-sidebar-button:not(.disabled).active {
  width: 2px;
  background-color: var(--color-accent-primary);
}

.sidebar .sidebar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-sidebar-nav);
}

.sidebar .new-folder-form,
.sidebar .new-page-form {
  position: absolute;
  top: calc(100% + 5px);
  right: 5px;
  left: 5px;
  z-index: 5;
  width: 100%;
}

.sidebar .new-folder-form input,
.sidebar .new-page-form input {
  font-size: 1rem;
  width: calc(100% - 10px);
  background: var(--secondary-bg);
  border: 1px solid var(--color-accent-primary);
  padding: 3px 5px;
  border-radius: 3px;
  color: var(--color-text-primary);
}

.sidebar .sidebar-nav > button {
  padding: 12px;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  max-width: 45px;
  /* cursor: pointer; */
  max-height: 45px;
  position: relative;
}

.sidebar .sidebar-nav button.current::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-icon-hover-light-bg);
}

.sidebar .sidebar-nav > button.current,
.sidebar .sidebar-nav > button.current svg,
.sidebar .sidebar-nav > button:hover svg {
  fill: var(--color-icon-hover-light-bg);
}

.sidebar .sidebar-nav > button svg {
  width: 20px;
  height: 20px;
  fill: var(--color-icon-light-bg);
  transition: 0.1s ease fill;
}

.sidebar .sidebar-nav > button.sidebar-toggle-button {
  cursor: pointer;
}

.sidebar .sidebar-nav > button.sidebar-toggle-button:hover,
.sidebar .sidebar-nav > button.theme-button:hover,
.sidebar .sidebar-nav > button.user-button:hover,
.sidebar .sidebar-nav > button.floating-sidebar-button:hover {
  background-color: #444;
  
}

.sidebar .sidebar-nav > button.floating-sidebar-button {
  padding: 10px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 90px;
  cursor: pointer;
  width: 44px;
}

.sidebar .sidebar-nav > button.floating-sidebar-button svg {
  opacity: 0.5;
}

.sidebar .sidebar-nav > button.floating-sidebar-button.toggled svg {
  opacity: 1;
}

.sidebar .sidebar-nav > button.theme-button {
  padding: 10px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 45px;
  cursor: pointer;
}

.sidebar .sidebar-nav > button.user-button {
  padding: 10px;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.sidebar .sidebar-nav > button.user-button svg {
  pointer-events: none;
  fill: white !important;
}

.sidebar .sidebar-body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar .sidebar-body .current-view {
  height: 35px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  background-color: var(--color-sidebar-nav);
}

.sidebar .sidebar-body .current-view p {
  color: white;
}

.sidebar .sidebar-root-click-checker {
  height: auto;
  padding: 20px;
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
}

.sidebar .header {
  position: sticky;
  height: 100%;
  max-height: 26px;
  top: 0;
  padding: 1px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
  background: var(--tertiary-bg);
}

.sidebar .header {
  display: flex;
  gap: 15px;
  z-index: 3;
}

.sidebar .header p {
  /* font-size: 0.875rem; */
}

.sidebar .sidebar-overlay {
  position: absolute;
  top: 35px;
  right: 0;
  left: 45px;
  bottom: 0;
  height: calc(100% - 35px);
  background-color: var(--primary-bg);
  opacity: 0.5;
  z-index: 2;
}

.sidebar .header .sidebar-header-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: auto;
  gap: 3px;
  padding: 0px 3px;
  overflow: auto;
  min-width: 120px;
}

.sidebar .header .sidebar-header-buttons button:not(:disabled):hover {
  border: 1px solid var(--color-accent-primary);
  color: var(--color-text-primary);
}

.sidebar .header .sidebar-header-buttons button:not(:disabled):active {
  background-color: var(--color-accent-primary);
  color: white;
}

.sidebar .header .sidebar-header-buttons button {
  min-width: 17px;
  padding: 0px 3px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  transition: 0.05s ease-in-out border-color, 0.05s ease-in-out background-color;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;
  color: var(--color-text-primary);
  white-space: nowrap;
}
