nav {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: #333;
    height: 45px;
}

nav .container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .nav-links {
    display: flex;
    gap: 10px;
}

nav .container .nav-links .logout-btn {
    margin-left: 2px;
    font-size: 1rem;
    padding: 0px 5px;
    /* border: #535bf2 1px solid; */
    background-color: #555;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}