* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body[data-theme="dark"] {
  --container-shadow: 0 1px 2px #000000;
  --primary-bg: #242424;
  --secondary-bg-opposite: #fff;
  --secondary-bg: #333;
  --tertiary-bg: #444;
  --tertiary-bg-hover: #3d3d3d;
  --color-text-primary: white;
  --color-text-secondary: #181818;
  --icon-hover: #aaa;
  --color-accent-primary: #646cff;
  --color-accent-secondary: #e3bd27;
  --color-matching-highlight: #e3bd27;
  --color-matching-highlight-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  --color-unsaved: #ffd300;
  --color-saved: #03c04a;
  --color-icon-light-bg: #ccc;
  --color-icon-hover-light-bg: #fff;
  --border: #181818 1px solid;
  --color-tier-block-border: rgba(211, 211, 211, 0.292);
  --small-shadow: 1px 1px 2px rgba(0, 0, 0, 0.148);
  --large-shadow: 0px 0px 20px 2px #1818183c;
  --color-input-placeholder: white;
  --color-sidebar-nav: #333;
}

body[data-theme="light"] {
  --container-shadow: 0 1px 2px #00000033;
  --primary-bg: #f0f2f6;
  --secondary-bg-opposite: #515151;
  --secondary-bg: #fff;
  --tertiary-bg: #dadce0;
  --color-text-primary: #181818;
  --color-text-secondary: #fff;
  --color-accent-secondary: #333;
  --color-accent-primary: #646cff;
  --color-matching-highlight: #e3bd27;
  --color-matching-highlight-shadow: 0;
  --color-unsaved: #ffd300;
  --color-saved: #03c04a;
  --color-icon-light-bg: #ccc;
  --color-icon-hover-light-bg: #fff;
  --border: #2e5266 1px solid;
  --color-tier-block-border: #bbb;
  --small-shadow: 1px 1px 2px rgba(0, 0, 0, 0.148);
  --large-shadow: 0px 0px 20px 2px #1818183c;
  --color-input-placeholder: black;
  --color-sidebar-nav: #333;
}

body {
  box-sizing: border-box;
  background-color: var(--primary-bg);
}

a {
  font-weight: 500;
  color: var(--color-text-secondary);
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

button {
  appearance: none;
  font-size: 1rem;
}

#root,
html,
body,
.App {
  min-height: 100%;
  height: 100%;
}

main {
  padding: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  min-height: 100%;
  height: 100%;
}

input,
textarea {
  border: 1px solid transparent;
  outline-color: var(--tertiary-bg);
  background-color: var(--secondary-bg);
  padding: 3px;
  border-radius: 3px;
  color: var(--color-text-primary);
}

input:focus,
input:focus-visible,
input:focus-within,
textarea:focus {
  border: 1px solid var(--tertiary-bg) !important;
}

.ignore-overflow {
  position: fixed;
}
