.tags-sidebar-view {
  height: 100%;
  overflow-y: auto;
  background-color: var(--primary-bg);
  border: 1px solid transparent;
  color: var(--color-text-primary);
}

.tags-sidebar-view .no-tags-found {
  margin-left: 10px;
  font-size: 0.875rem;
}

.tags-sidebar-view .tag-controls {
  /* padding: 10px; */
}

.tags-sidebar-view .tag-controls .trash-button {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-text-primary);
  background-color: transparent;
  border: 0;
  transition: 0.1s ease background-color;
  cursor: pointer;
  fill: var(--color-text-primary);
  font-size: 0.875rem;
  width: 100%;
  padding: 10px;
}

.tags-sidebar-view .tag-controls .trash-button svg {
  width: 12px;
}

.tags-sidebar-view .tag-controls .trash-button:hover {
  background-color: var(--secondary-bg);
}

.tags-sidebar-view .tag-search-form {
  width: calc(100% - 10px);
  margin: 5px;
}

.tags-sidebar-view .tag-search-form input {
  width: 100%;
  padding: 5px;
  background-color: var(--secondary-bg);
  color: var(--color-text-primary);
  border-radius: 3px;
}

.tags-sidebar-view .tag-button {
  cursor: pointer;
}

.tags-sidebar-view .tag-button {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  color: var(--color-text-primary);
  border: 0;
  transition: 0.1s ease background-color;
  width: 100%;
}

.tags-sidebar-view .tag-button:hover {
  background-color: var(--tertiary-bg);
}

.tags-sidebar-view .tag-button p {
  width: 100%;
  overflow: auto;
  text-overflow: ellipsis;
  text-align: start;
}

.tags-sidebar-view .color-span {
  min-width: 10px;
  height: 10px;
  border-radius: 100px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #444;
}

.tags-sidebar-view {
  display: flex;
  flex-direction: column;
}

.tags-sidebar-view .cancel-and-done-btns {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px solid var(--tertiary-bg);
  border-bottom: 1px solid var(--tertiary-bg);
}

.tags-sidebar-view .down-arrow {
  max-width: 15px;
  align-self: start;
  margin-left: 10px;
  fill: var(--color-text-primary);
  margin-bottom: -3px;
}

.tags-sidebar-view .cancel-and-done-btns button {
  padding: 2px 5px;
  /* font-size: 0.875rem; */
  cursor: pointer;
  background-color: var(--secondary-bg);
  color: var(--color-text-primary);
  border: var(--tertiary-bg) 1px solid;
  border-radius: 3px;
  transition: border 0.1s ease, color 0.1s ease;
}

.tags-sidebar-view .cancel-and-done-btns button:not(:disabled):hover {
  border: var(--color-accent-primary) 1px solid;
}

.tags-sidebar-view .cancel-and-done-btns button:disabled {
  cursor: not-allowed;
  color: #aaa;
}

.tags-sidebar-view .tag-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border-bottom: 1px solid var(--tertiary-bg);
  padding-bottom: 10px;
}

.tags-sidebar-view form input {
  border: 1px solid var(--tertiary-bg);
}

/* .tags-sidebar-view form .tag-color, */
.tags-sidebar-view form .tag-name {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* .tags-sidebar-view form .tag-color label, */
.tags-sidebar-view form .tag-name label {
  font-size: 0.875rem;
  font-weight: 500;
}
/* 
.tags-sidebar-view form .tag-color .tag-color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags-sidebar-view form .tag-color .tag-color-options .color-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  padding: 0;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
}

.tags-sidebar-view form .tag-color .tag-color-options .color-button.selected {
  border: 1px solid var(--color-accent-primary);
}

.tags-sidebar-view form .tag-color .tag-color-options .color-button.current::before {
  content: '*';
  font-size: 1.15rem;
  color: var(--current-tag-star-color);
  position: absolute;
  left: -3px;
  top: -5px;
}

.tags-sidebar-view form .tag-color .tag-color-options .color-button:hover {
  background-color: var(--secondary-bg);
}

.tags-sidebar-view form .tag-color .tag-color-options .color-button span {
  display: flex;
  height: 12px;
  width: 12px;
} */

.tags-sidebar-view form .inputs {
  background-color: transparent;
  padding: 0;
  border: 0;
  min-width: 15px;
  height: 26px;
  border-radius: 3px;
  position: relative;
  color: var(--color-text-primary);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  transition: background-color ease 0.1s;
}

/* .tags-sidebar-view form .tag-color .inputs > input[type="color"] {
  position: absolute;
  z-index: 2;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 25px;
}

.tags-sidebar-view form .tag-color .inputs > input[type="text"] {
  width: calc(100% - 20px);
} */

.tags-sidebar-view form input.invalid {
  border: 1px solid crimson !important;
  outline-color: crimson;
}

.tags-sidebar-view form .invalid-text {
  /* font-size: 0.875rem; */
  color: crimson;
}

.tags-sidebar-view p.no-changes {
  padding: 5px 10px;
}

.tags-sidebar-view .tag-controls .are-you-sure-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
}

.tags-sidebar-view .tag-controls .are-you-sure-container .label {
  font-size: 0.875rem;
}

.tags-sidebar-view .tag-controls .are-you-sure-container .buttons {
  display: flex;
  gap: 10px;
}

.tags-sidebar-view .tag-controls .are-you-sure-container button {
  background-color: transparent;
  color: var(--color-text-primary);
  border: 0;
  padding: 0;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 2px 5px;
  border-radius: 3px;
  transition: background-color 0.15s ease;
}

.tags-sidebar-view .tag-controls .are-you-sure-container button.confirm {
  border: 1px solid crimson;
}

.tags-sidebar-view .tag-controls .are-you-sure-container button.confirm:hover {
  background-color: crimson;
}